@model IEnumerable<Hspmgmt.Models.Patient>

<h2>Delete Patient</h2>

<div>
    <h4>Are you sure you want to delete this patient?</h4>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Age</th>
                <th>Gender</th>
                <th>Phone Number</th>
                <th>Address</th>
                <th>Doctor Id</th>
                <th>Select</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var patient in Model)
            {
                <tr>
                    <td>@patient.Id</td>
                    <td>@patient.FirstName</td>
                    <td>@patient.LastName</td>
                    <td>@patient.Age</td>
                    <td>@patient.Gender</td>
                    <td>@patient.PhoneNo</td>
                    <td>@patient.Address</td>
                    <td>@patient.DocId</td>
                    <td><input type="radio" asp-for="@patient.Id" name="SelectedPatientId" value="@patient.Id" /></td>
                </tr>
            }
        </tbody>
    </table>

    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-default">Cancel</a>
    </form>
</div>
