@{
    ViewData["Title"] = "Home Page";
}


<!-- Index.cshtml -->
@model IEnumerable<Hspmgmt.Models.Patient>

@{
    ViewData["Title"] = "Patient List";
}


<h1>Patient List</h1>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Age</th>
            <th>Gender</th>
            <th>Phone Number</th>
            <th>Address</th>
            <th>Doctor Id</th>
            <th>Is Deleted</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var patient in Model)
        {
            <tr>
                <td>@patient.Id</td>
                <td>@patient.FirstName</td>
                <td>@patient.LastName</td>
                <td>@patient.Age</td>
                <td>@patient.Gender</td>
                <td>@patient.PhoneNo</td>
                <td>@patient.Address</td>
                <td>@patient.DocId</td>
             </tr>
        }
    </tbody>
</table>
